############################################################
# Debug build fragment
############################################################
CONFIG_KSU_DEBUG=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_UBSAN=y
# CONFIG_KASAN is not set
# CONFIG_KASAN_HW_TAGS is not set
CONFIG_KFENCE=y
CONFIG_SCHEDSTATS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_IKCONFIG_PROC=y
CONFIG_DEBUG_FS=y
CONFIG_TRACING=y

# Expanded LSM list for debug / instrumentation visibility
CONFIG_LSM="yama,landlock,lockdown,bpf,integrity,selinux,kernelsu"
