############################################################
# Performance build fragment - disable heavy debugging &   #
# instrumentation, keep binary lean.                      #
############################################################
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_SUSFS_ENABLE_LOG is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_UBSAN is not set
# CONFIG_KASAN is not set
# CONFIG_KASAN_HW_TAGS is not set
# CONFIG_KFENCE is not set
# CONFIG_SCHEDSTATS is not set
# CONFIG_KALLSYMS_ALL is not set
# CONFIG_IKCONFIG_PROC is not set
# CONFIG_KPROBE_EVENTS is not set
